## Preprocessing

In [31]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from keras.callbacks import ModelCheckpoint

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [7]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis=1)
application_df.head()

  APPLICATION_TYPE       AFFILIATION  ... ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...    5000             1
1               T3       Independent  ...  108590             1
2               T5  CompanySponsored  ...    5000             0
3               T3  CompanySponsored  ...    6692             1
4               T3       Independent  ...  142590             1

[5 rows x 10 columns]

In [8]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [9]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# Get applications less than 500 
application_types_to_replace = ['T17', 'T29', 'T15', 'T25', 'T14', 'T2', 'T12', 'T13', 'T9']

# Replace in dataframe
for a in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(a,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1283        1
C2600        1
C2570        1
C8210        1
C1236        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [12]:
# You may find it helpful to look at CLASSIFICATION value counts >1
val_count = application_df['CLASSIFICATION'].value_counts()
val_count.loc[val_count > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C4100        6
C1720        6
C2400        6
C1600        5
C1257        5
C0           3
C2710        3
C1260        3
C1267        2
C3200        2
C1256        2
C1246        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = val_count.loc[val_count < 1000].index

# Replace in dataframe
for c in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(c,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies.dtypes

STATUS                          int64
ASK_AMT                         int64
IS_SUCCESSFUL                   int64
APPLICATION_TYPE_Other          uint8
APPLICATION_TYPE_T10            uint8
APPLICATION_TYPE_T19            uint8
APPLICATION_TYPE_T3             uint8
APPLICATION_TYPE_T4             uint8
APPLICATION_TYPE_T5             uint8
APPLICATION_TYPE_T6             uint8
APPLICATION_TYPE_T7             uint8
APPLICATION_TYPE_T8             uint8
AFFILIATION_CompanySponsored    uint8
AFFILIATION_Family/Parent       uint8
AFFILIATION_Independent         uint8
AFFILIATION_National            uint8
AFFILIATION_Other               uint8
AFFILIATION_Regional            uint8
CLASSIFICATION_C1000            uint8
CLASSIFICATION_C1200            uint8
CLASSIFICATION_C2000            uint8
CLASSIFICATION_C2100            uint8
CLASSIFICATION_C3000            uint8
CLASSIFICATION_Other            uint8
USE_CASE_CommunityServ          uint8
USE_CASE_Heathcare              uint8
USE_CASE_Other                  uint8
USE_CASE_Preservation           uint8
USE_CASE_ProductDev             uint8
ORGANIZATION_Association        uint8
ORGANIZATION_Co-operative       uint8
ORGANIZATION_Corporation        uint8
ORGANIZATION_Trust              uint8
INCOME_AMT_0                    uint8
INCOME_AMT_1-9999               uint8
INCOME_AMT_10000-24999          uint8
INCOME_AMT_100000-499999        uint8
INCOME_AMT_10M-50M              uint8
INCOME_AMT_1M-5M                uint8
INCOME_AMT_25000-99999          uint8
INCOME_AMT_50M+                 uint8
INCOME_AMT_5M-10M               uint8
SPECIAL_CONSIDERATIONS_N        uint8
SPECIAL_CONSIDERATIONS_Y        uint8
dtype: object

In [15]:
application_dummies.head()

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                         1                         0
1       1   108590  ...                         1                         0
2       1     5000  ...                         1                         0
3       1     6692  ...                         1                         0
4       1   142590  ...                         1                         0

[5 rows x 44 columns]

In [16]:
# Split our preprocessed data into our features and target arrays
target = application_dummies['IS_SUCCESSFUL']
application_dummies = application_dummies.drop('IS_SUCCESSFUL', axis=1)

# Split the preprocessed data into a training and testing dataset
(X_train, X_test, y_train, y_test) = train_test_split(application_dummies, target, random_state=76)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [35]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(input_dim=43, units=10, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=5, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 10)                440

 dense_13 (Dense)            (None, 5)                 55

 dense_14 (Dense)            (None, 1)                 6

=================================================================
Total params: 501
Trainable params: 501
Non-trainable params: 0
_________________________________________________________________

In [36]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy", "AUC"],steps_per_execution=None)

In [37]:
# Set callback
filepath = 'charity_model_{epoch:02d}.hdf5'
checkpoint = tf.keras.callbacks.ModelCheckpoint(filepath=filepath, 
                             monitor='accuracy',
                             save_weights_only=True,
                             save_freq=5)
callbacks = [checkpoint]

# Train the model
fit_output = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=callbacks)

Epoch 1/20
804/804 [==============================] - 4s 4ms/step - loss: 0.6181 - accuracy: 0.6983 - auc: 0.7263
Epoch 2/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5629 - accuracy: 0.7299 - auc: 0.7770
Epoch 3/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5570 - accuracy: 0.7287 - auc: 0.7816
Epoch 4/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5542 - accuracy: 0.7287 - auc: 0.7834
Epoch 5/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5526 - accuracy: 0.7294 - auc: 0.7846
Epoch 6/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5509 - accuracy: 0.7303 - auc: 0.7861
Epoch 7/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5500 - accuracy: 0.7314 - auc: 0.7868
Epoch 8/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7322 - auc: 0.7876
Epoch 9/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5483 - accuracy: 0.7326 - auc: 0.7882
Epoch 10/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7320 - auc: 0.7888
Epoch 11/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7319 - auc: 0.7888
Epoch 12/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5470 - accuracy: 0.7320 - auc: 0.7894
Epoch 13/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5464 - accuracy: 0.7324 - auc: 0.7901
Epoch 14/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5465 - accuracy: 0.7324 - auc: 0.7897
Epoch 15/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5459 - accuracy: 0.7329 - auc: 0.7906
Epoch 16/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5462 - accuracy: 0.7321 - auc: 0.7899
Epoch 17/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7337 - auc: 0.7905
Epoch 18/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7331 - auc: 0.7906
Epoch 19/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5452 - accuracy: 0.7327 - auc: 0.7912
Epoch 20/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7326 - auc: 0.7912

In [39]:
# Evaluate the model using the test data
model_loss, model_accuracy, model_AUC = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}, AUC: {model_AUC}")

268/268 - 0s - loss: 0.5616 - accuracy: 0.7241 - auc: 0.7787 - 275ms/epoch - 1ms/step
Loss: 0.5616413354873657, Accuracy: 0.7240816354751587, AUC: 0.7787206768989563

In [40]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')